*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFAFA; 
    
}
.general-content{
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 900px;
}
.navbar{
    background-color: #FFFAFA; 
    padding-top: 5px;
    position: fixed;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-link{
    display: flex;
    gap: 60px;
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.title{
color: #282828;
font-size: 30px;
font-weight: 700;
}
.social{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.menu-icon{
    width: 38px;
    height: 19px;
}
.menubar{
    display: flex;
    align-items: center;
}
.header{
    padding-top: 60px;
}
.vectors{
    position: relative;
}
.vector1, .vector2, .vector3, .vector4, .vector5{
    position: absolute;
}
.vector1{
    top: 250px;
    left: 100px;
}

.user-intro{
    color: #282828;
    font-size: 65px;
    font-weight: 700;
}
.pink-name{
    color: #FF4C60;
}
.downloadbtn{
    color: #282828;
    font-size: 16px;
    margin-top: 12px;
}
.dash{
    margin-left: 14px;
}
.scrollbtn{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.scrollicon{
    width: 60px;
}
.scrolltext{
    margin-top: -7px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userimg{
    width: 580px;
    object-fit: cover;
}
.newsletter{
    background-color: #F9F3F5;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.news-text{
  width: 40%;
  text-align: center;
}
.news-title{
    color: #282828;
    font-size: 30px;
    font-weight: 700;
}
.news-prag{
    color: #C4C4C4;
    font-size: 18px;
}
.news-input{
width: 60%;
}
.news-btn{
    display: flex;
    gap: 5px;
}
.news-email{
    border: none;
    outline: none;
    background-color: #FFFAFA;
}
.newsbtn-text{
    color: #282828
}
.inputbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFAFA;
    padding: 22px 48px;
}
.skills{
    margin-top: 100px;
    display: flex;
  
}
.skills-img{
 width: 45%;
 position: relative;
 
}

.skillimg-bg{
    width: 100%;
}
.skillimg-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.skills-content{
    width:45%;
    margin-left: 35px;
}

h3{
    color: #282828;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 30px;
}

p{ 
    color: #282828;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 80%;
}

.Percentagearea{
    display:flex;

   padding-top: 100px;
   position:absolute;
   left:50%;
   margin-top: 60px; 
   gap: 40px;
  
}


.Percentagearea1 h4, .Percentagearea2 h4, .Percentagearea3 h4, .Percentagearea4 h4{
    color: #282828;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    }
    
.Percentagearea1 p, .Percentagearea2 p, .Percentagearea3 p, .Percentagearea4 p{
        color: #282828;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        
        }

        .newsletter2{
            background-color: #F9F3F5;
            padding: 30px 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            margin-top: 100px;
        }
        .news-text2{
          width: 40%;
          text-align: center;
        }
        .news-title2{
            color: #282828;
            font-size: 30px;
            font-weight: 700;
        }
        .news-prag2{
            color: #C4C4C4;
            font-size: 18px;
        }
        .news-input2{
        width: 60%;
        }
        .news-btn2{
            display: flex;
            gap: 5px;
        }
        .news-email2{
            border: none;
            outline: none;
            background-color: #FFFAFA;
        }
        .newsbtn-text2{
            color: #282828
        }
        .inputbox2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #FFFAFA;
            padding: 22px 48px;
        }